xml-resources/web-service-references/Numbers/wsdl/localhost_8080/Numbers/Numbers.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Numbers.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Numbers.com/" name="Numbers">
<types>
<xsd:schema>
<xsd:import namespace="http://Numbers.com/" schemaLocation="http://localhost:8080/Numbers/Numbers?xsd=1"/>
</xsd:schema>
</types>
<message name="perfectSquare">
<part name="parameters" element="tns:perfectSquare"/>
</message>
<message name="perfectSquareResponse">
<part name="parameters" element="tns:perfectSquareResponse"/>
</message>
<message name="prime">
<part name="parameters" element="tns:prime"/>
</message>
<message name="primeResponse">
<part name="parameters" element="tns:primeResponse"/>
</message>
<message name="composite">
<part name="parameters" element="tns:composite"/>
</message>
<message name="compositeResponse">
<part name="parameters" element="tns:compositeResponse"/>
</message>
<message name="perfectCubeRange">
<part name="parameters" element="tns:perfectCubeRange"/>
</message>
<message name="perfectCubeRangeResponse">
<part name="parameters" element="tns:perfectCubeRangeResponse"/>
</message>
<message name="RandomNumberRange">
<part name="parameters" element="tns:RandomNumberRange"/>
</message>
<message name="RandomNumberRangeResponse">
<part name="parameters" element="tns:RandomNumberRangeResponse"/>
</message>
<message name="powerOfTwoRange">
<part name="parameters" element="tns:powerOfTwoRange"/>
</message>
<message name="powerOfTwoRangeResponse">
<part name="parameters" element="tns:powerOfTwoRangeResponse"/>
</message>
<message name="palindromeRange">
<part name="parameters" element="tns:palindromeRange"/>
</message>
<message name="palindromeRangeResponse">
<part name="parameters" element="tns:palindromeRangeResponse"/>
</message>
<message name="fibonacciRange">
<part name="parameters" element="tns:fibonacciRange"/>
</message>
<message name="fibonacciRangeResponse">
<part name="parameters" element="tns:fibonacciRangeResponse"/>
</message>
<message name="oddRange">
<part name="parameters" element="tns:oddRange"/>
</message>
<message name="oddRangeResponse">
<part name="parameters" element="tns:oddRangeResponse"/>
</message>
<message name="evenRange">
<part name="parameters" element="tns:evenRange"/>
</message>
<message name="evenRangeResponse">
<part name="parameters" element="tns:evenRangeResponse"/>
</message>
<portType name="Numbers">
<operation name="perfectSquare">
<input wsam:Action="http://Numbers.com/Numbers/perfectSquareRequest" message="tns:perfectSquare"/>
<output wsam:Action="http://Numbers.com/Numbers/perfectSquareResponse" message="tns:perfectSquareResponse"/>
</operation>
<operation name="prime">
<input wsam:Action="http://Numbers.com/Numbers/primeRequest" message="tns:prime"/>
<output wsam:Action="http://Numbers.com/Numbers/primeResponse" message="tns:primeResponse"/>
</operation>
<operation name="composite">
<input wsam:Action="http://Numbers.com/Numbers/compositeRequest" message="tns:composite"/>
<output wsam:Action="http://Numbers.com/Numbers/compositeResponse" message="tns:compositeResponse"/>
</operation>
<operation name="perfectCubeRange">
<input wsam:Action="http://Numbers.com/Numbers/perfectCubeRangeRequest" message="tns:perfectCubeRange"/>
<output wsam:Action="http://Numbers.com/Numbers/perfectCubeRangeResponse" message="tns:perfectCubeRangeResponse"/>
</operation>
<operation name="RandomNumberRange">
<input wsam:Action="http://Numbers.com/Numbers/RandomNumberRangeRequest" message="tns:RandomNumberRange"/>
<output wsam:Action="http://Numbers.com/Numbers/RandomNumberRangeResponse" message="tns:RandomNumberRangeResponse"/>
</operation>
<operation name="powerOfTwoRange">
<input wsam:Action="http://Numbers.com/Numbers/powerOfTwoRangeRequest" message="tns:powerOfTwoRange"/>
<output wsam:Action="http://Numbers.com/Numbers/powerOfTwoRangeResponse" message="tns:powerOfTwoRangeResponse"/>
</operation>
<operation name="palindromeRange">
<input wsam:Action="http://Numbers.com/Numbers/palindromeRangeRequest" message="tns:palindromeRange"/>
<output wsam:Action="http://Numbers.com/Numbers/palindromeRangeResponse" message="tns:palindromeRangeResponse"/>
</operation>
<operation name="fibonacciRange">
<input wsam:Action="http://Numbers.com/Numbers/fibonacciRangeRequest" message="tns:fibonacciRange"/>
<output wsam:Action="http://Numbers.com/Numbers/fibonacciRangeResponse" message="tns:fibonacciRangeResponse"/>
</operation>
<operation name="oddRange">
<input wsam:Action="http://Numbers.com/Numbers/oddRangeRequest" message="tns:oddRange"/>
<output wsam:Action="http://Numbers.com/Numbers/oddRangeResponse" message="tns:oddRangeResponse"/>
</operation>
<operation name="evenRange">
<input wsam:Action="http://Numbers.com/Numbers/evenRangeRequest" message="tns:evenRange"/>
<output wsam:Action="http://Numbers.com/Numbers/evenRangeResponse" message="tns:evenRangeResponse"/>
</operation>
</portType>
<binding name="NumbersPortBinding" type="tns:Numbers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="perfectSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="composite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perfectCubeRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RandomNumberRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="powerOfTwoRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="palindromeRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fibonacciRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="oddRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="evenRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Numbers">
<port name="NumbersPort" binding="tns:NumbersPortBinding">
<soap:address location="http://localhost:8080/Numbers/Numbers"/>
</port>
</service>
</definitions>